doctype html
html
  head
    title COMP4004 BlackJack
    link(rel="stylesheet", href="/stylesheets/card.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="/javascripts/jquery.keyframes.min.js")
  body
    block content